body,html{
    padding: 0%;
    margin: 0%;
    min-height: 100vh;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right bottom, purple,white);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
p{
    color: white;
    text-align: center;
    font-size: 30px;
}
.card{
background: black;
border: 1px solid black;
border-radius: 20px;
width: 1000px;
height: 500px;
}