body,html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
body{
    background: linear-gradient(to right bottom, purple,white);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}   
.card1{
    background: black;
    width: 1000px;
    height: 550px;
    border: 1px solid black;
    border-radius: 20px;
    
}
a{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
}
li{
    color: white;
    text-align: center;
    font-size: 50px;
}
h1{
    color: white;
    text-align: center;
    font-size: 70px;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
p{
    margin: 10px;
    padding: 14px 16px;
}
.botao{
    display: flex;
    justify-content: center;
}
.botao a{
    color: black;
    font-size: 30px;
}